images/sign-up-form-design-ref.png
images/mononoke-hime.jpg
fonts/optimusprinceps/webfontkit-20240119-101115/specimen_files/specimen_stylesheet.css
fonts/optimusprinceps/webfontkit-20240119-101115/specimen_files/grid_12-825-55-15.css
fonts/optimusprinceps/webfontkit-20240119-101115/stylesheet.css
fonts/optimusprinceps/webfontkit-20240119-101115/optimusprincepssemibold-demo.html
fonts/optimusprinceps/webfontkit-20240119-101115/optimusprinceps-demo.html
fonts/optimusprinceps/webfontkit-20240119-101115/generator_config.txt
fonts/optimusprinceps/OptimusPrinceps.ttf
fonts/optimusprinceps/OptimusPrincepsSemiBold.ttf
