:root {
  box-sizing: border-box;
  overflow: hidden;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: pmono-regular;
  src: url("/fonts/optimusprinceps/webfontkit-20240119-101115/optimusprinceps-webfont.woff2")
      format("woff2"),
    url("/fonts/optimusprinceps/webfontkit-20240119-101115/optimusprinceps-webfont.woff")
      format("woff");
}

@font-face {
  font-family: pmono-bold;
  src: url("/fonts/optimusprinceps/webfontkit-20240119-101115/optimusprincepssemibold-webfont.woff2")
      format("woff2"),
    url("/fonts/optimusprinceps/webfontkit-20240119-101115/optimusprincepssemibold-webfont.woff")
      format("woff");
}

* {
  padding: 0;
  margin: 0;
  /* border: 3px solid black; */
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  border-color: hotpink;
}

.main-container {
  display: flex;
  flex: 1 1 auto;
  min-width: 1000px;
  max-width: 1600px;
  border-color: aqua;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 0;
  min-width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.315);
  border-style: none none none solid;
}

svg.hero {
  fill-opacity: 30%;
}

.logo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 20rem;
  width: 100%;
  height: 12rem;
  background-color: hsla(0, 0%, 57%, 0.158);
  box-shadow: 0rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.205);
  border: 1px solid rgba(0, 0, 0, 0.315);
  border-style: solid solid none none;
}

.logo#logo-text {
  font-family: pmono-regular;
  font-size: 3rem;
  justify-self: center;
  align-self: center;
  padding: 0 0 0 3rem;
}

.logo-container > img {
  justify-self: right;
  height: 12rem;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
  border: 1px solid rgba(0, 0, 0, 0.315);
  border-style: none solid none none;
}

p.call-to-action {
  position: relative;
  top: 14rem;
  font-family: "Roboto", var(--system-ui);
  font-weight: 500;
  font-size: 2rem;
  color: rgb(53, 53, 53);
  margin: 1rem;
  padding: 0 8rem 0 2rem;
}

p em {
  font-weight: 700;
  color: black;
}

.form-container {
  position: absolute;
  width: 100%;
  height: 22rem;
  top: 32rem;
  background-color: rgba(102, 51, 153, 0.342);
  box-shadow: 0em 0.1em 0.3em 0em rgba(0, 0, 0, 0.205);
  border: 1px solid rgba(0, 0, 0, 0.315);
  border-style: none none solid solid;
}

.title {
  font-family: "Roboto", var(--system-ui);
  margin: 1rem 0 0 1rem;
  padding: 1rem 0 0 2rem;
}

fieldset {
  border: none;
}

.sign-up-form {
  /* border: 5px dashed white; */
  margin: 1rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.sign-up-form > p {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 30%;
  margin: 1rem;
  padding: 0 0 0 2rem;
}

label {
  flex: 1 0 auto;
  font-family: "Roboto", var(--system-ui);
}

input {
  appearance: none;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  height: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.397);
  border-radius: 4px;
  padding: 0 0 0 0.5rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  border: 1px solid rgb(75, 159, 255);
}

input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid,
input[type="tel"]:invalid {
  border: 1px solid rgb(255, 75, 75);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
