:root {
  box-sizing: border-box;
  overflow: hidden;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: pmono-bold;
  src: url("/fonts/optimusprinceps/webfontkit-20240119-101115/optimusprincepssemibold-webfont.woff2")
      format("woff2"),
    url("/fonts/optimusprinceps/webfontkit-20240119-101115/optimusprincepssemibold-webfont.woff")
      format("woff");
}

* {
  padding: 0;
  margin: 0;
}

.hero,
.main-content,
p.call-to-action {
  position: relative;
}

.logo-container,
.form-container,
.visually-hidden,
button,
button + p {
  position: absolute;
}

body,
.main-container,
.hero,
.main-content,
.sign-up-form,
.user-info {
  display: flex;
}

.hero,
.main-content,
.user-info {
  flex-direction: column;
}

.hero,
.logo-container,
.main-content,
.form-container {
  border: 1px solid rgba(0, 0, 0, 0.315);
}

p,
.title,
button {
  font-family: "Roboto", var(--system-ui);
}

body {
  justify-content: center;
  height: 100vh;
}

.main-container {
  flex: 1 1 auto;
  min-width: 1000px;
  max-width: 1600px;
}

.hero {
  flex: 1 1 0;
  min-width: 500px;
  border-style: none none none solid;
}

svg.hero {
  fill-opacity: 30%;
}

.logo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 20rem;
  width: 100%;
  height: 12rem;
  background-color: hsla(0, 0%, 57%, 0.158);
  box-shadow: 0rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.205);
  border-style: solid solid none none;
}

.logo#logo-text {
  font-family: pmono-bold;
  font-size: 3rem;
  justify-self: center;
  align-self: center;
  padding: 0 0 0 3rem;
}

.logo-container > img {
  justify-self: right;
  height: 12rem;
}

.main-content {
  flex: 2 1 auto;
  border-style: none solid none none;
}

p.call-to-action {
  top: 14rem;
  font-weight: 500;
  font-size: 2rem;
  color: rgb(53, 53, 53);
  margin: 1rem;
  padding: 0 8rem 0 2rem;
}

p.instructions > em,
p.error-message > em {
  font-weight: 700;
  color: black;
  font-family: Arial, var(--system-ui);
  font-size: 10px;
  font-weight: 200;
  padding: 0 0 0 3rem;
}

p.error-message > em {
  color: red;
  padding: 0;
}

.form-container {
  width: 100%;
  height: 23rem;
  top: 32rem;
  background-color: rgba(102, 51, 153, 0.342);
  box-shadow: 0em 0.1em 0.3em 0em rgba(0, 0, 0, 0.205);
  border-style: none none solid solid;
}

.title {
  margin: 1rem 0 0 1rem;
  padding: 1rem 0 0 2rem;
}

fieldset {
  border: none;
}

.sign-up-form {
  margin: 1rem 0 0 0;
  flex-wrap: wrap;
}

.sign-up-form > p,
.user-info {
  min-width: 30%;
  max-width: 30%;
  margin: 1rem;
  padding: 0 0 0 2rem;
}

label {
  color: rgb(32, 32, 32);
}

input {
  appearance: none;
  outline: none;
  width: 100%;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.397);
  border-radius: 4px;
  padding: 0 0 0 0.5rem;
}

input:focus {
  border: 2px solid rgb(75, 159, 255);
}

input:user-invalid {
  border: 2px solid rgb(255, 75, 75);
}

.error-message#passErr {
  display: none;
  color: red;
}

button,
button + p {
  margin: 0 0 0 3rem;
  font-weight: 500;
  font-size: 1.3rem;
  color: rgb(32, 32, 32);
}

button {
  top: 59rem;
  height: 50px;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 12px;
  background-color: rgba(102, 51, 153, 0.342);
  cursor: pointer;
  box-shadow: -0.2em 0.2em 0.3em 0em rgba(0, 0, 0, 0.205);
  width: 15rem;
}

button + p {
  top: 65rem;
}

a:link,
a:visited,
a:hover {
  color: rgb(79, 97, 81);
  text-decoration: none;
  font-weight: bold;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
